/* @font-face {
    font-family: 'Tahoma';
    src: url('tahoma.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Tahoma-Bold';
    src: url('tahomabd.ttf');
    font-style: normal;
    font-weight: 600;
} */